section[class^="container"] {
  padding: 72px;
}

@media screen and (min-width: 1024px) {
  section[class^="container"] {
    padding: 4rem;
  }
  nav[class^="container"] {
    padding: 0 4rem;
  }
}

section:not(:first-of-type) {
  text-align: center;
}

section:nth-child(2n) {
  background-color: #ecf2ff;
}

/*NAVBAR*/

.navbar {
  background-color: white;
}
.navbar-nav .nav-link {
  color: black;
  font-size: 1.1rem;
}
@media screen and (min-width: 1024px) {
  .navbar-nav .nav-item {
    padding: 0 1rem;
  }
  .navbar-brand {
    font-size: 1.5rem;
  }
}

/*HERO*/

section.hero {
  padding: 72px;
}
@media screen and (max-width: 576px) {
  section.hero {
    text-align: center;
  }
  section.hero img {
    width: 70%;
  }
}

/*Services*/

section.services i {
  font-size: 2rem;
  margin: 1rem auto 0;
  border: 2px solid black;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

section .card,
.btn-outline-dark {
  border: 2px solid black;
  box-shadow: 4px 4px black;
  max-width: 22rem;
  margin-inline: auto;
}
.btn-outline-dark:hover {
  box-shadow: 4px 4px #f9a31c;
}
section .card {
  max-width: 22rem;
  margin-inline: auto;
}

/*ABOUT*/
@media screen and (min-width: 1024px) {
  section.about .container,
  section.testimonials .container {
    width: 60%;
  }
}

/*PROJECTS*/

section.projects .card {
  max-width: 17rem;
  text-align: left;
}
section.projects .card img {
  max-width: 70%;
  margin: 1rem auto;
}

/*TEST*/

section.testimonials .carousel-control-prev,
.carousel-control-prev {
  width: 5%;
}

section.testimonials .carousel-item p {
  max-width: 80%;
}

section.testimonials .carousel-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section.testimonials .carousel.carousel-fade .carousel-item {
  transition: opacity 0.5s;
}
